.signup-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sign-up{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    box-shadow:1px 1px 3px 1px black;
    color: white;
}
.left{
    width: 50%;
}

.fullname {
    display: flex;
    width: 100%;
}
.signin-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.signin-form input{
    font-family: 'Genos', sans-serif;
    background-color: #353641;
    color: white;
    height: 40px;
    width: 100%;
    border-radius: 15px;
    border: none;
    text-indent: 20px;
}
.signin-form input::placeholder{
    color: white;
    
}
.signin-form input:focus{
    outline: none;
}

.sign-in-buttons{
    width: 100%;
    display: flex;
    gap:20px;
    align-items: center;
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    justify-content: center;
    margin-top: 30px;
}
.singin-button{
    background-color: #000320;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 50%;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    height: 50px;
    font-size: 17px;
    text-align: center;
}
.with-google {
    width: 50%;
    background-color: #000320;
    border-radius: 15px;
    cursor: pointer;
}
.with-google p{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 17px;
}
.with-google p img{
    background-color: white;
    border-radius: 2px;
    padding: 3px;
}
.signin-form i{
    position: relative;
    top: 27px;
    left:41%;
}
.fullname input[name='First-Name'] {
    margin-right: 10px;
  }
.fullname i{
    position: relative;
    top: 12px;
    left:37%;
    height: 0px;
    width: 0px;
}
.signin-form-container-heading{
    width: 100%;
    display: flex;
    justify-content: center;
}
.signin-form-container-heading-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.signin-form-container-heading-wrapper h1{
    width: 150%;
}
.signin-form-container-heading-wrapper p span{
    background-color: #000320;
    text-decoration: dashed;
    color: white;
    padding: 3px;
    border-radius: 8px;
}
.signin-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:left;
    gap: 10px;
    font-family: 'Genos', sans-serif;
    width: 100%;
}
.with-google{
    height: 50px;
}

@media screen and (max-width: 960px) {
        
}
@media screen and (max-width: 720px) {
    .sign-up{
        display: flex;
        flex-direction: column;
        background-position: bottom;
    }
    
    .left{
        width: 80%;
    }
    .right{
        width: 20%;
    }
    .signin-form input{
        height: 50%;
    }
}
@media screen and (max-width: 485px) {
    .left{
        width: 100%;
    }
    .right{
        width: 0px;
    }
    .signin-form{
        width: 80%;
    }
    .signin-form input[type='text'],
    .signin-form input[type='email'],
    .signin-form input[type='password'] {
        height: 35px;
    }
    .sign-in-buttons button{
        height: 35px;
    }
    .with-google{
        height: 35px;
        display: flex;
        gap:1px;
        align-items: center;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
        padding: 1.5px;
    }
    .with-google p{
        margin: 0;
    }
    .with-google span{
        font-size: 12px;
        margin-left: 5px;
    }
    .with-google p img{
        background-color: white;
        border-radius: 2px;
        width: 15px;
        height: 15px;
    }
    .signin-form-container-heading{
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .signin-form-container-heading{
        height: 40%;
    }
    .signin-form-container-heading-wrapper{
        width: 75%;
        display: flex;
        flex-direction: column;
        font-size: 70%;
    }
    .signin-form-container-heading-wrapper h1{
        width: 100%;
    }
    .signin-form-container-heading-wrapper p span{
        background-color: #000320;
        text-decoration: dashed;
        color: white;
        padding: 3px;
        border-radius: 8px;
    }
    .content-signup {
        display: flex;
        flex-direction: column;
        gap: 90px;
    }
}
