.footer-container{
    background-image: linear-gradient(black, #001116, #001c25, #002430,#00465e, #008DBA);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 50px 50px 0px 50px;
    flex-wrap: wrap;
}
.footer-container a{
    color: rgb(199, 197, 197);
    text-decoration: none;
}
.footer-nav-links{
    display: flex;
    flex-direction: column;
    color: rgb(199, 197, 197);
    gap: 5px;
}
.footer-nav-links a:hover{
    color: white;
    text-decoration: underline;
}
.footer-nav-links p{
    margin: 0;
}
.footer-nav-links p:hover{
    color: white;
    text-decoration: underline;
}
.social-medias{
    display: flex;
    flex-direction: column;
    color: rgb(199, 197, 197);
    gap: 5px;
}
.social-medias a span:hover{
    color: white;
    text-decoration: underline;
}
.account-links{
    display: flex;
    flex-direction: column;
    color: rgb(255, 222, 222);
    gap: 3px;
}
.account-links p:hover{
    color: white;
    text-decoration: underline;
}
.copyright-statement{
    border-top: 1px solid rgb(237, 227, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 45px;
}
.copyright-statement {
    color: white;
}
@media screen and (max-width: 480px) {
    .footer-titles{
        width: 50%;
    }
    .footer-container{
        background-color: black;
        color: white;
        display: flex;
        justify-content: flex-start;
        padding: 40px;
        flex-wrap: wrap;
        gap: 20px;
    }
    .footer-navigation{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    .contact-us{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    .Account{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    .copyright-statement{
        border-top: 1px solid white;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0px 20px 0px;
    }
}