.auth-nav-links{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.dropdown{
    width: 50px;
}
.dropdown-content{
    color: white;
    display: flex;
    flex-direction: column;
}