.unauth-header-container{
    height: 3.375rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #23252b;
    position: fixed;
    transition: 300ms ease-in-out;
}
.unauth-nav-bar{
    display: flex;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
}
.logo-wrapper{
    font-size: 30px;
    font-weight: 500;
    color: white;
    font-family: 'Genos', sans-serif;
    transition: 200ms ease-in-out;
}
.logo-wrapper:hover{
    scale: 1.03;
}
.logo-wrapper span{
    background-color: #000320;
    border-radius: 3px;
    padding: 0px 8px 0px 8px;
}
.nav-links{
    font-family: 'Genos', sans-serif;
    display: flex;
    gap:150px;
    width: 50%;
    font-size: 20px;
}
.nav-links a{
    margin-left: 15px;
    color: white;
    text-decoration: none;
    transition: 200ms ease-in-out;
    padding: 0px 5px 2px 5px;
    border-radius: 5px;
}
.nav-links a:hover{
    background-color: #000320;
    scale: 1.1;
}
/* .nav-links :nth-child(1){
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;
    width: 60px;
    text-align: center;
    transition: 200ms ease-in-out;
}
.nav-links :nth-child(2){
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;
    width: 60px;
    text-align: center;
    transition: 200ms ease-in-out;
}
.nav-links :nth-child(1):hover{
    background-color: #000320;
    scale: 1.1;
    border-radius: 2px;
}
.nav-links :nth-child(2):hover{
    background-color: #000320;
    scale: 1.1;
    border-radius: 2px;
} */

@media screen and (max-width: 480px) {
    .unauth-nav-bar{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .header-dropdown-menu{
        display: block;
    }
    .auth-nav-links{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 70px;
        left: 230px;
        background-color: rgb(0, 0, 0);
        width: 200px;
    }
}